body {
	margin: 0;
	padding: 0;

	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
}

a {
	text-decoration: none;
}

/* Блок-центровщик */
.container {
	width: 940px;
	margin: 0 auto;
}

/* Флекс-контейнер */
.flex-container {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.main-header {
	/* Типографика */
	font-size: 17px;
	line-height: 18px;
	/* Оформление */
	background-color: #f3f7f9;
}

/* Стилизация верхней части хедера на главной и в каталоге */
.header-top {
	background-color: #293449;

	min-height: 42px;
	margin-bottom: 46px;

	display: flex;
}

.header-top a {
	color: #ffffff;
}

.header-alignment {
	justify-content: center;
}

/* Стилизация логотипа */
.logo img {
	/* Оформление */
	width: 108px;
	height: 18px;
}

.logo {
	background-color: #ee3643;
	border-bottom: 5px solid #b52933;

	width: 220px;
	height: 42px;	
}

.logo:hover,
.logo:focus {
	background-color: #ca2c37;
}

.logo:active {
	background-color: #ba2732;
}

/* Стилизация поля поиска на главной и в каталоге */
.header-top input {
	/* Типографика */
	color: #ffffff;
	/* Оформление */
	background-color: #293449;
	border: none;
}

/* Стилизация закладки на главной и в каталоге */
.bookmark:active {
	background-color: #161d29;
	opacity: 0.6;
}

.bookmark:hover, 
.bookmark:focus {
	background-color: #212a3a;
}

/* Стилизация корзины на главной */
.basket:active {
	background-color: #161d29;
	opacity: 0.6;
}

.basket:hover, 
.basket:focus {
	background-color: #212a3a;
}

/* Стилизация корзины в каталоге */
.basket-inner {
	background-color: #ee3643;
}

/* Стилизация оформления заказа на главной и в каталоге */
.checkout-button {
	background-color: #63a63e; 
}

.checkout-button:hover,
.checkout-button:focus {
	background-color: #5fbb2d; 
}

.checkout-button:active {
	opacity: 0.5;
}

/* Стилизация промо-блока на главной и в каталоге */
.promo {
	/* Типографика */
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
}

.call-us {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
}

.find-us {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

/* Стилизация кнопки личного кабинета в каталоге */
.user-button {
	font-size: 21px;
	line-height: 21px;
	color: #000000;

	background-color: #ffffff;
}

.user-button:active {
	opacity: 0.3;
}

/* Стилизация области пользователя под кнопкой личного кабинета в каталоге */
.user-area {
	display: flex;
}

.user-area li:first-child {
	list-style: none;

	margin-right: 31px;
}

.user-area li {
	color: #32425c;
}

.user-area a {
	text-decoration: underline;
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
}

.user-area a:hover,
.user-area a:focus {
	color: #ee3643;
}

.user-area a:active {
	color: #32425c;
	opacity: 0.3;
}

/* Стилизация области навигации и кнопки входа и регистрации на главной */
.site-navigation,
.user-navigation {
	list-style: none;
}

.site-navigation  {
	/* Типографика */
	font-size: 17px;
	line-height: 17px;
	/* Оформление */
	background-color: #32425c;
	border-bottom: 5px solid #293449;
	
	min-height: 55px;

	display: flex;
	align-items: center;
}

.site-navigation a {
	color: #ffffff;

	margin-right: 61px;
}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #293449;
}

.site-navigation a:active {
	opacity: 0.5;
}

/* Стилизация кнопки входа и регистрации на главной */
.user-navigation {
	font-size: 21px;
	line-height: 21px;

	display: flex;
}

.user-navigation a {
	/* Типографика */
	color: #000000;
	/* Оформление */
	background-color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus {
	color: #ee3643;
}

.user-navigation a:active {
	color: #000000;
	opacity: 0.3;
}

/* Стилизация хлебных крошек в каталоге */
.breadcrumbs {
	font-family: 'PT Sans', 'Arial', sans-serif;
	list-style: none;

	display: flex;
}

.breadcrumbs a {
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;

	margin-right: 43px;
}

/* Стилизация главного заголовка в каталоге */
.main-page h1 {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
}

/* Стилизация бокового фильтра в каталоге */
.sidebar-filter {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 17px;
	line-height: 18px;
}

.flex-column {
	flex-direction: column;
}

.sidebar-filter h2 {
	font-size: 13px;
	line-height: 18px;	
	text-transform: uppercase;
	font-weight: normal;

	background-color: #f7f3ec;
}

.sidebar-filter div {
	background-color: #f7f3ec;
}

.sidebar-filter h3 {
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
}

/* Стилизация верхнего фильтра в каталоге */
.top-filter {
	font-family: 'PT Sans', 'Arial', sans-serif;

	display: flex;

	background-color: #f7f3ec;

	min-height: 35px;
}

.top-filter h2 {
	font-size: 13px;
	line-height: 18px;	
	text-transform: uppercase;
	font-weight: normal;
}

/* Стилизация критериев в верхнем фильтре в каталоге */
.sorting-list {
	list-style: none;

	display: flex;
}

.sorting-list a {
	color: #000000;
	font-size: 13px;
	line-height: 18px;	
	text-transform: uppercase;
	
	border-bottom: 1px dotted #ee3643;
	opacity: 0.3;

	margin-right: 71px;
}

.sorting-list a:hover,
.sorting-list a:focus {
	opacity: 1;
	border-bottom: 1px solid #ee3643;
}

.sorting-list a:active {
	border-bottom: none;
	color: #ee3643;
}

/* Стилизация фильтра по производителям в каталоге */
.brands-filter {
	font-family: 'PT Sans', 'Arial', sans-serif;
}

.brands-filter fieldset {
	border: none;
}

.brands-filter legend {
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
}

/* Стилизация вариантов выбора в фильтре по производителям в каталоге */
.filter-area {
	list-style: none;

	display: flex;
	flex-direction: column;
}

.filter-area li {
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}

/* Стилизация кнопки применения в фильтре по производителям в каталоге */
.apply-button {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;

	border: 1px solid #e5e5e5;
	background-color: #ffffff;
}

/* Стилизация секции услуг на главной */
.services-list {
	list-style: none;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;

	padding: 0;
}

.services-list::after {
	content: "";
	order: 0;
	width: 100%;
	height: 0;
}

.services-item {
	width: 300px;
	min-height: 123px;

	margin-right: 20px;
	margin-bottom: 20px;
}

.services-item a {
	color: #ffffff;
}

.services-item h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: normal;
}

.services-item:first-child {
	background-color: #ffbf47;
}

.services-item:nth-child(2) {
	background-color: #3bbce3;
}

.services-item:nth-child(3) {
	background-color: #dc91d8;
	margin-right: 0;
}

.services-item:nth-child(4) {
	background-color: #8ed78f;
	margin-right: 0;
}

.services-item:last-child {
	background-color: #ffc047;
	margin-right: 0;
	order: 1;
}

/* Стилизация слайдера на главной */
figcaption h3 {
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
}

figcaption p {
	font-size: 18px;
	line-height: 24px;
}

figure {
	margin: -300px 0 0 0;
}

/* Стилизация заголовков для производителей и товаров на главной */
.popular-heading {
	background-color: #f9f5f0;

	display: flex;
}

.popular-heading h2 {
	/* Типографика */
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
	font-weight: normal;
}

.popular-heading a {
	align-self: center;
}

.popular-button {
	width: 253px;
	min-height: 38px;

	margin-left: auto;
	margin-right: 24px;
}

/* Стилизация карточек товаров на главной и в каталоге */
.goods-list {
	list-style: none;
	font-family: 'PT Sans', 'Arial', sans-serif;

	width: 700px;

	display: flex;
	flex-wrap: wrap;

	padding: 0;

	
}

.goods-item {
	border: 1px solid #eaeaea;

	margin-right: 20px;
	width: 218px;
	min-height: 316px;
}

.goods-index {
	width: 940px;
}

.goods-index .goods-item:last-child {
	margin-right: 0;
}

.goods-catalog .goods-item {
	margin-bottom: 20px;
}

.goods-catalog .goods-item:nth-child(3n) {
	margin-right: 0;
}

.goods-item a {
	color: #000000;
}

.goods-item h3 {
	font-size: 18px;
	line-height: 20px;
}

.goods-item b {
	/* Типографика */
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
	text-decoration: line-through;
}

.goods-item a:last-child {
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
}

/* Появление при наведении на карточку товара скрытого блока с кнопками */
.goods-hide {
	display: none;
}

.goods-card:hover .goods-reveal,
.goods-card:focus .goods-reveal {
	display: none;
}

.goods-card:hover .goods-hide,
.goods-card:focus .goods-hide {
	display: block;
}

/* Стилизация кнопки покупки, появляющаяся при наведении на карточку товара в каталоге */
.buy-button {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;

	background-color: #63a63e;
	border: none;
	box-shadow: inset 0 -3px 0 0 #367315;
}

.buy-button:hover,
.buy-button:focus {
	background-color: #5fbb2d;
}

.buy-button:active {
	background-color: #518534;
	box-shadow: none;
}

/* Стилизация кнопки "в закладки", появляющаяся при наведении на карточку товара в каталоге */
.bookmark-button {
	font-size: 14px;
	line-height: 18px;
	color: #32425c;

	border: none;
	background-color: #ffffff;
	box-shadow: 0 0 0 3px #63a63e;
}

.bookmark-button:hover,
.bookmark-button:focus {
	box-shadow: 0 0 0 3px #32425c;
}

.bookmark-button:active {
	opacity: 0.3;
	box-shadow: 0 0 0 3px #32425c;
}

/* Стилизация номеров страниц каталога */
.page-list {
	list-style: none;

	display: flex;
	align-items: center;
}

.page-list li {
	margin-right: 10px;
}

.page-list a {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 18px;
	color: #000000;

	border: 1px solid #e5e5e5;

	display: block;

	padding: 8px 13px;
}

.page-list .current-page {
	background-color: #ee3643;
	color: #ffffff;
}

.page-list a:hover,
.page-list a:focus {
	border: 1px solid #bdc6ca;
}

.page-list a:active {
	border: 1px solid #ee3643;
}

/* Стилизация раздела "виды перфораторов" в каталоге */
.drills-type dt {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.drills-type dd {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
}

/* Стилизация раздела "популярные производители" на главной */
.brands-list {
	list-style: none;

	display: flex;
	flex-wrap: wrap;

	justify-content: space-between;

	padding: 0;
}

.brands-item a {
	width: 218px;
	min-height: 143px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.brands-item {
	border: 1px solid #eaeaea;

	margin-bottom: 20px;
}

.brands-item:hover {
	box-shadow: 0 0 10px -5px #000000;
}

.brands-item:active {
	opacity: 0.3;
}

.brands-item:nth-child(4n) {
	margin-right: 0;
}

/* Стилизация раздела с информацией об услугах на главной */
.info {
	background-color: #f4f8f9;

}

.info-list {
	list-style: none;

	display: flex;
	flex-direction: column;
}

.info-list a {
	/* Типографика */
	font-size: 21px;
	line-height: 30px;
	color: white;
	/* Оформление */
	background-color: #32425c;
}

.info-list a:hover,
.info-list a:focus {
	background-color: #293449;
}

.info-list a:active {
	color: #32425c;
	background-color: #ffffff;
}

.info h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

.info p {
	font-size: 13px;
	line-height: 24px;
	font-family: 'PT Sans', 'Arial', sans-serif;
}

.info h3 {
	text-transform: uppercase;
	color: #32425c;
	font-weight: normal;
}

/* Стилизация контейнера с информацией о доставке, кредите и гарантиях на главной */
.info-delivery h3 {
	font-size: 36px;
	line-height: 36px;
}

.info-guarantee h3,
.info-credit h3 {
	font-size: 36px;
	line-height: 24px;
}

/* Стилизация раздела "о компании" на главной */
.about h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

.about p {
	font-size: 13px;
	line-height: 24px;
	font-family: 'PT Sans', 'Arial', sans-serif;
}

.about-list li {
	font-size: 18px;
	line-height: 20px;
}

.contacts h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

/* Стилизация раздела контактов на главной */
.contacts p {
	font-size: 13px;
	line-height: 24px;
	font-family: 'PT Sans', 'Arial', sans-serif;
}

/* Стилизация футера на главной и в каталоге */
.footer-top {
	background-color: #32425c;
}

.footer-column {
	display: flex;
	flex-direction: column;
}

.footer-menu {
	font-size: 18px;
	line-height: 24px;

	display: flex;
	flex-direction: column;
}

.footer-menu li {
	margin-right: 60px;
}

.footer-top .menu-top,
.footer-top .menu-bottom {
	list-style: none;
	display: flex;
}

.menu-top a {
	color: #f1f5f7;
	font-size: 18px;
	line-height: 24px;
}

.menu-top a:hover,
.menu-top a:focus {
	text-decoration: underline;
}

.menu-top a:active {
	opacity: 0.5;
	text-decoration: none;
}

.footer-top p {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.menu-bottom a {
	color: #ffd180;
}

.menu-bottom a:hover,
.menu-bottom a:focus {
	text-decoration: underline;
}

.menu-bottom a:active {
	opacity: 0.5;
	text-decoration: none;
}

.footer-bottom {
	background-color: #293449;
}

.footer-bottom p {
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
}

.footer-bottom ul {
	list-style: none;
}

.footer-bottom a {
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
}

.footer-bottom span {
	color: #ffd180;
}

.footer-bottom span:hover,
.footer-bottom span:focus {
	text-decoration: underline;
}

.footer-bottom span:active {
	color: #ee3643;
	text-decoration: none;
}

/* Стилизация соцсетей в футере на главной и в каталоге */
.footer-social {
	text-align: center;
}

.footer-social a {
	background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
	background-color: #ee3643;
}

/* Общий класс для скрытия контента */
.visually-hidden {
	display: none;
}

/* Общие стили для кнопок */
.btn {
	/* Типографика */
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	vertical-align: middle;
	/* Оформление */
	background-color: #ee3643;
}

.btn:hover,
.btn:focus {
	background-color: #ca2c37;
}

.btn:active {
	background-color: #ba2732;
}
